<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="ProjectRunConfigurationManager">
    <configuration default="false" name="app" type="AndroidRunConfigurationType" factoryName="Android App">
      <module name="app" />
      <option name="DEPLOY" value="true" />
      <option name="DEPLOY_APK_FROM_BUNDLE" value="false" />
      <option name="DEBUGGER_TYPE" value="Auto" />
      <option name="LAUNCH" value="DEFAULT_ACTIVITY" />
      <option name="MODE" value="default_activity" />
      <option name="TARGET_SELECTION_MODE" value="SHOW_DIALOG" />
      <method v="2">
        <option name="Gradle.BeforeRunTask" enabled="true" />
      </method>
    </configuration>
  </component>
</project>
